<div class="container">
  <div id="expenses" class="expense-container">
    <%= render @expenses %>
  </div>
</div>

<div class="d-flex fixed-bottom py-3 px-2" style="background-color: #60B524;">

  <div class="container d-flex justify-content-center transaction-container" >
    <%= link_to new_group_expense_path, class: "new-transaction" do %>
    <p>New transaction</p>

  <% end %>
  </div>
</div>
