<div class="container">
  <div id="expenses" class="expense-container">
    <%= render @expenses %>
  </div>
</div>

<div class="bg-secondary d-flex fixed-bottom py-3 px-2">

  <div class="container d-flex justify-content-center transaction-container">
    <%= link_to new_group_expense_path, class: "new-transaction" do %>
    <p>New transaction</p>
  </div>

  <% end %>
</div>
