<div class="container">
  <div id="expenses" class="expense-container">
    <%= render @expenses %>
  </div>
</div>

<div class="bg-secondary fixed-bottom d-flex justify-content-center py-3">
  <%= link_to new_group_expense_path, class: "w-75 d-flex align-items-center justify-content-center gap-2 py-2 px-5 bg-secondary border text-white block font-medium" do %>
    <span>New transaction</span>
  <% end %>
</div>
